ol,ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

.App {
  width: 240px;
  height: 100%;
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-body {
  min-height: 80vh;
  border-top: 1px solid silver;
}

ul.detected-form {
  text-align: left;
  font-size: calc(2px + 2vmin);
  border: 1px solid silver;
  margin: 1em 2em;
}

ul.detected-form > h2 {
  background-color: silver;
  color: #1b315e;
  margin: 0;
  font-size: 1.5em;
  padding: 0.5em;
}

ul.detected-form > li {
  font-size: 0.8em;
  line-height: 1.5;
}

ul.detected-form > li > label {
  background-color: #33a3dc;
  color: white;
  font-weight: bold;
  padding: 0.1em 0.5em;
  width: 40%;
}

ul.detected-form > li > span {
  background-color: white;
  color: #33a3dc;
  font-weight: bold;
  padding: 0.1em 0.5em;
  width: 50%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
